body {
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.nav-pills > li > a {
    border-radius: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

    #wrapper.toggled {
        padding-left: 250px;
        overflow: hidden;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffbd5c;
    /* -webkit-transition: all 0.5s ease; */
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    /* transition: all 0.5s ease; */
    top: 0px;
    transition: width 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebarToggle {
    width: 250px !important;
    transition: width 0.5s ease;
}

#page-content-wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    background-color: #f5f5f5;
}
    /*Them*/
    #page-content-wrapper .container-fluid {
        flex: 1
    }

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
    background: #FF9900;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 60px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

    .sidebar-nav li {
        text-indent: 15px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            /* color: #999999; */
            font-style: normal;
            font-weight: bold;
            /* font-size: 15px; */
            /* line-height: 18px; */
            /* text-align: center; */
            color: var(--primary-text);
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
                border-left: red 2px solid;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

.no-margin {
    margin: 0;
    height: 55px;
    z-index: 1001;
    border-radius:0px;
}

.toggleWrap {
    padding-left: 250px !important;
    transition: padding-left .5s ease;
}

@media (min-width: 768px) {
    #wrapper {
        position: absolute;
        /* padding-left: 250px; */
        /* transition: padding-left .5s ease; */
        width: 100%
    }
    #btn-search-event {
        margin-top: 15px !important;
    }
    .btn {
        display: inline-block;
        margin-top: 10px !important;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 150px !important;
        height: 45px !important;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #registration_importdata {
    width: 150px !important;
    height: 45px !important;
   
}

#registration_importdata-cancel {
    width: 150px !important;
    height: 45px !important;
 
    color: #333333;
}

#registration_importdata-Error {
    width: auto!important;
    height: 45px !important;
  
    color: #ffffff;
}
    .add-post{
        margin-top:10px;
    }
    #btn-registration-guide{
        float:right;
    }

    #btn-add-event {
        margin-top: 15px !important;
        float: right;
    }

    #btn-cancel-event {
        margin-top: 10px;
        float: right;
        margin-right:10px;
        
    }
    .pull-right {
        float: right !important;
        margin-right: 0px !important;
    }

    .div-center {
        width: 900px !important;
        height: 450px !important;
    }

    .content-area2-image {
        float: right;
        padding: 5px 0px 0px 0px;
        display: none !important;
    }

    .Event-Schedule {
        font-size: 50px !important;
    }

    .front-size-title {
        font-size: 1.5em !important;
        font-weight: bolder;
    }

    #footer-main {
        width: 1200px !important;
    }
    #size-image {
        display: block !important;
    }

    .no-margin {
        margin: 0;
        height: 60px !important;
        z-index: 1001;
    }

    .content-area1-title {
        left: 121px !important;
        top: 15px !important;
        font-size: 20px !important;
        line-height: 29px;
        color: #FFFFFF;
        position: absolute;
    }

    #content_area2_title {
        text-align: center;
        font-weight: bold;
        font-size: 40px !important;
        line-height: 60px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .main {
        width:auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-admin {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .fixed-brand {
        width: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        /* width: 250px; */
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 0px;
    }

        #wrapper.toggled-2 #sidebar-wrapper:hover {
            width: 250px;
        }

    #page-content-wrapper {
        position: relative;
        /* -webkit-transition: all 0.5s ease; */
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        /* transition: all 0.5s ease; */
    }

    page-content-wrapper-home {
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }

    #wrapper.toggled-2 #page-content-wrapper-home {
        position: relative;
        margin-right: 0;
        margin-left: -250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }

    #wrapper.toggled-2 #content_area2_header {
        position: relative;
        margin-right: 0;
        margin-left: -250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        float: right;
    }

    #wrapper.toggled #content_area2_header {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #content_area2_header {
        position: relative;
        /* -webkit-transition: all 0.5s ease; */
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        /* transition: all 0.5s ease; */
        width: 100%;
        height: 120px !important;
        background: #2fa9fb;
        padding-top: 30px !important;
    }
}

#bs-example-navbar-collapse-1 {
    background: #FF9900;
    height: 60px !important;
}

.navbar-toggle {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}

.no-bullet {
    padding: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    margin-top:15px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*width: 200px;*/
    /*height: 50px;*/
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-default .navbar-toggle {
    background: transparent !important;
}

.content-area1-title {
    left: 45px;
    top: 13px;
    font-size: 11px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
}

.no-bullet-image {
    padding: 100px 0px 50px 20px
}

.content-area1-image {
    float: right;
    margin-top:5px;
    margin-left:5px;
}


.content-area1-image2 {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

.btn-outline-login {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 105px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    background: #18A0FB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-outline-succes:hover {
    background-color: #94FFAC;
    color: #ffffff;
}

.dropdown-item :hover {
    background-color: #94FFAC;
}

#registration_title {
    text-align: center;
}

#content_area2_header {
    width: 100%;
    height: 100px;
    background: #2fa9fb;
    padding-top: 20px;
}

#content_area2_title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #ffffff;
}

#wrapper-home {
}

.back {
    background-image: url('/image/code_war_2019_2(2) 2.png');
    width: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-center {
    width: 300px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
    text-align: center;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

input, select, textarea {
    max-width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

#btnHomeLogin {
    display: block;
    width: 100% !important;
    height: 45px !important;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333333;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #FD647A !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

#exampleInputLoginUser {
    height: 45px;
}

#exampleInputLoginPassword {
    height: 45px;
}

#btnHomeSignInGoogle {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

#homeUserLogin {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

#homeUserLoginSub {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}


.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #333333;
    background-color: #286090;
    background-image: none;
    border-color: #204d74;
}

#homeUserChangPassword {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #333333;
}

#homeUserChangPasswordSub {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #333333;
}

.div-center-chang {
    width: 900px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

#shirtSizinngNext {
    float: right;
    color: #ffffff;
}

#talbe-shirtSizing {
    width: 80%;
    padding-top: 100px;
}

.carousel {
    position: fixed;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0%;
    width: 100%;
    height: 100%;
}

#message {
    display: none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #message p {
        padding: 10px 35px;
        font-size: 14px;
    }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }

.Event-Schedule {
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
}

.Event-Content {
    font-weight: normal;
}

.Accommodations-Content {
    font-style: italic;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    padding-bottom: 60px;
}

.Event-Detail {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

.Accommodations-Title {
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 40px;
}

.Download-Title {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.Dowload-Content {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #7280FF;
}
/*ScheduleOfActivities*/
.cars-shedule {
    height: 32px;
    border-radius: 5px;
}

#cars-shedule1 {
    padding-top: 50px;
}
/*LocalInformation*/

#btn-registrantionTitle {
    padding-bottom: 20px;
    padding-top: 50px;
}

#btn-registrantionTitle-index {
    padding-bottom: 20px;
}

.main {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    
}

#btn-registration_import {
    height: 40px;
    margin-top: 20px;
}

.form-label-answer {
    font-size: 14px;
    font-weight: 100;
    margin: 5px;
}

#registration-addrers {
    margin-top: 40px;
}

#registration_importdata {
    width: auto ;
    height: auto;
  
}

#registration_importdata-cancel {
    width: auto ;
    height: auto;
  
    color: #333333;
}

#registration_importdata-Error {
    width: auto;
    height: auto;
    color: #ffffff;
}
/*footer*/
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414045;
    margin-top: 40px;
}

#footer-main {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    padding-top: 20px;
}

ul li a {
    color: #ffffff;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100%
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
/*header*/
#login-user {
    height: 45px !important;
    width: 45px !important;
    margin-top: 0px !important;
    border-radius: 100%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#user-information {
    color: #333333;
    font-weight: 600;
}

#user-changpassword {
    color: #333333;
    font-weight: 600;
}

#user-changpassword {
    color: #333333;
    font-weight: 600;
}

#user-logout {
    color: #333333;
    font-weight: 600;
}

#user-role {
    color: #65676b;
}

#team {
    margin: 10px;
}
/*home image*/

.item {
    width: 100%;
    height: 100%;
}

.image-home1 {
    width: 100%;
    height: 100% !important;
}

#size-image {
    display: none;
}

#menu-home {
    margin-top: 20px;
}

#menu-image {
    padding: 15px 0px 0px 20px;
    width: auto;
    height: auto;
}

.modal-open .modal {
    background-color: rgba(0,0,0,0.4);
}

.front-size-title {
    font-size: 1.17em;
    font-weight: bolder;
}

#btn-enable {
    width: auto !important;
    height: auto !important;
    margin-top: 0px !important;
}

#btn-disabled {
    width: auto;
    height: auto;
}

#exampleModalLabel {
    font-weight: bold;
}

#in-use {
    padding-left: 10px;
}

#import-history {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#edit-tab {
    width: auto;
    height: auto;
}

#cancel-popup {
    width: auto;
    height: auto;
    color: #333333;
}


#delete-popup {
    width: auto;
    height: auto;
}

.content-area2-image {
    float: right;
    padding: 5px 0px 0px 0px;
    display: block;
}

#event-canner {
   color:#333333;
}


#content-iframe {
    height: 100vh;
    width: 100%;
    border:none;
}

#text-content-home1 {
    font-weight: 700;
    font-family: 'Lato';
    font-variant: normal;
    font-size: 18.0pt;
    margin: auto;
}

#text-content-home2 {
    font-weight: 700;
    font-family: 'Lato';
    font-variant: normal;
    font-size: 24.0pt;
    margin: auto;
}

#text-content-home3 {
    font-family: 'Lato';
    font-size: 13.5pt;
    font-variant: normal;
    vertical-align: baseline;
    font-weight: bold;
}

#text-content-home4 {
    font-size: 13.5pt;
    font-variant: normal;
    text-decoration: underline;
    vertical-align: baseline;
}

#text-content-home5 {
    font-family: 'Lato';
    font-size: 13.5pt;
    font-variant: normal;
    vertical-align: baseline;
    font-weight: bold;
}

#text-content-home7 {
    color: #00ff00;
    font-family: 'Lato';
    font-variant: normal;
    vertical-align: baseline;
    font-weight: bold;
}

#text-content-home8 {
    font-family: 'Lato';
    font-variant: normal;
    vertical-align: baseline;
    font-size: 24.0pt;
    font-weight: bold;
}
#Table_Size_All {
    overflow: auto;
    padding: 0px;
}
#under {
    padding-top:15px;
}

#not-empty{
    color:red;
}
.paginate_button{
    margin:5px !important;
}
#content-item{
margin-bottom:50px;
}
.img-thumbnail{
    height:300px;
    width:300px;
}
.front-size-title{
    color:#333333;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}

    .carousel-control.left,
    .carousel-control.right {
        margin-right: 40px;
        margin-left: 32px;
        background-image: none;
        opacity: 1;
    }

    .carousel-control > a > span {
        color: white;
        font-size: 29px !important;
    }

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
}


    .active > div:first-child {
        display: block;
    }

/*xs*/
@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 50%;
    }

    .active > div:first-child + div {
        display: block;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 50%;
    }

    .active > div:first-child + div {
        display: block;
    }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left {
        left: -33%;
    }

    .carousel-inner .active.right {
        left: 33%;
    }

    .carousel-inner .next {
        left: 33%;
    }

    .carousel-inner .prev {
        left: -33%;
    }

    .carousel-col {
        width: 33%;
    }

    .active > div:first-child + div {
        display: block;
    }

        .active > div:first-child + div + div {
            display: block;
        }
}

/*lg*/
@media (min-width: 1200px) {
    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .active.right {
        left: 25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }

    .carousel-col {
        width: 25%;
    }

    .active > div:first-child + div {
        display: block;
    }

        .active > div:first-child + div + div {
            display: block;
        }

            .active > div:first-child + div + div + div {
                display: block;
            }
}

.block {
    width: 306px;
    height: 230px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}
#content-item2{
    margin-bottom:25px;
}
#btn-login-mobie {
    width: auto !important;
    height: 40px !important;
    margin-right: 5px !important;
    border-radius: 15px !important;
    margin-top:0px;
}
#btn-login-desktop {
    width: auto !important;
    height: 48px !important;
    margin-right: 5px;
    border-radius: 15px;
    margin-top: 0px !important;
}
#btn-cancel-event {
    color: #333333 ;
}
.panel-body{
padding:0px !important;
}
#delete_edit{
    padding-left:0px;
}

a{
    cursor: pointer;
}
.content-area1-title-login {
    top: 15px;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
}