
@{
    ViewBag.Title = "Registered Team Contest";
}

<style>
    #menu_Overview {
        color: #ffffff !important;
        background: #30cf6b;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Registered Team Contest</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <section>
                    <div class="form-group" style="padding-left:15px">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li role="presentation" class="nav-item active">
                                <a href="#step1" class="nav-link front-size-title active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">Registered Team Contest</a>
                            </li>

                        </ul>
                    </div>
                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="col-lg-12">
                                    <label class="border border-danger" for="Event_Schedule">
                                        Total team: 4
                                    </label>
                                    <br>
                                </div>
                                <div class="col-lg-12" id="under" style="border-top: 1px solid gray">

                                    <table class="table table-striped table-bordered table-sm" width="100%">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="1%">No</th>
                                                <th scope="col" width="10%">Contest name</th>
                                                <th scope="col" width="5%">Code</th>
                                                <th scope="col" width="12%">Start date</th>
                                                <th scope="col" width="12%">End date</th>
                                                <th scope="col" width="15%">Venue</th>
                                                <th scope="col" width="7%">Max contestant</th>
                                                <th scope="col" width="10%">Note</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-contests">
                                            <tr>
                                                <td class="date-table" >1</td>
                                                <td class="date-table" >OLP</td>
                                                <td class="venue-table" >OLP</td>
                                                <td class="venue-table" >2021-11-11 00:00:00.000</td>
                                                <td class="venue-table" >2021-11-12 00:00:00.000</td>
                                                <td class="venue-table" >Hoa Lac</td>
                                                <td class="venue-table" >3</td>
                                                <td class="venue-table" >note something  Else</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reason/Note</h4>
            </div>
            @using (Html.BeginForm("RegistrationAction", "Statistic", FormMethod.Get, new { id = "reject-form" }))
            {
                <div class="modal-body">
                    <input id="schoolId" type="hidden" name="schoolId" />
                    <input id="action" type="hidden" name="type" value="1" />
                    <textarea id="reason-text" class="form-control" name="note" required></textarea>
                </div>
                <div class="modal-footer">
                    <button id="submit-reject" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button id="reset-reject" style="color:black" type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#newModal").modal("show");
        $("#newModal").on('hide.bs.modal', function () {

        });
        $("#newModal").on('hidden.bs.modal', function () {

        });
        $('#dtBasicExampleEvents').DataTable();
        $('.dataTables_length').addClass('bs-select');

        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    document.getElementById("reset-reject").addEventListener('click', function () {
        document.getElementById("reason-text").value = "";
        document.getElementById("schoolId").value = "";
        document.getElementById("action").value = "";
    });
    document.getElementById("submit-reject").addEventListener('click', function () {
        var isEmtyReason = document.getElementById("reason-text").value == '';
        if (!isEmtyReason) {
            document.getElementById("reject-form").submit();
        } else {
            alert("Reason cannot be empty");
        }
    });
    function triggerSubmit(id, action) {
        document.getElementById("schoolId").value = id;
        document.getElementById("action").value = action;
    }
</script>




