@{
    ViewBag.Title = "Home Page";
}

<!-- Sidebar -->


<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Registration</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a id="btn-registration_title" style="color: red" href="/Home/RegistrationImport" class="button">Back</a>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>How to Register</h2>
                            <div class="border border-danger">
                                <ol>
                                    <li>Register your team on the ICPC Web Site. More details may be found in the instructions for coaches.</li>
                                    <li>Pay the registration fee of your team.</li>
                                    <li>Send a copy of your payment transaction to info.discs@ateneo.edu.</li>
                                    <li>You will receive a confirmation regarding your registration through your ICPC account.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Registration Fee</h2>
                            <div class="border border-danger">
                                <ul>
                                    <li>
                                        RegiForeign teams: USD 200
                                        <ul>
                                            <li>
                                                Each extra person: USD 50
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Local (Philippine) teams: PHP 10,000
                                        <ul>
                                            <li>
                                                Each extra person: PHP 2,500

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>
                                    Extra persons may include co-coaches, observers, guests, parents, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Registration Period</h2>
                            ;                           <div class="border border-danger">
                                <ul>
                                    <li>Registration opens on 09 September 2019</li>
                                    <li>Registration closes on 31 October 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Registration Inclusions</h2>
                            <div class="border border-danger">
                                <p>
                                    Team registration covers three (3) contestants and one (1) coach. The registration fee includes:
                                </p>
                                <ul>
                                    <li>ICPC Manila T-Shirt</li>
                                    <li>Contest Materials</li>
                                    <li>
                                        Meals
                                        <ul>
                                            <li>First Day: lunch, snacks</li>
                                            <li>Second Day: breakfast, lunch, dinner</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Payment Instructions</h2>
                            <div class="border border-danger">
                                <ol>
                                    <li>Go to the nearest/most convenient bank in your area.</li>
                                    <li>
                                        <p>
                                            For payment in <b><em>US Dollars</em></b>, deposit your
                                            payment via wire transfer to:
                                        </p>
                                        <ul>
                                            <h3>Bank of the Philippine Islands [USD]</h3>
                                            <li><b>Account Name:&nbsp;</b><span>Ateneo de Manila University, Inc.</span></li>
                                            <li><b>Account Address:&nbsp;</b><span>Katipunan Ave., Loyola Heights, Quezon City</span></li>
                                            <li><b>Bank Account Number:&nbsp;</b><span>3084-0002-04</span></li>
                                            <li><b>Bank Name:&nbsp;</b><span>Bank of the Philippine Islands</span></li>
                                            <li><b>Bank Address:&nbsp;</b><span>Bank of the Philippine Islands</span></li>
                                            <li><b>SWIFT Code:&nbsp;</b><span>BOPIPHMM</span></li>
                                            <li><b>Branch Code:&nbsp;</b><span>308</span></li>
                                        </ul>

                                        <p>
                                            You are highly encouraged to pay for the bank transfer fee so
                                            that ICPC Asia-Manila organizers receive the exact total amount.
                                        </p>
                                    </li>
                                    <li>
                                        <p>For payment in <b><em>Philippine Pesos</em></b>, deposit your payment to:</p>
                                        <ul>
                                            <h3>Bank of the Philippine Islands [PHP]</h3>
                                            <li><b>Account Name:&nbsp;</b><span>Ateneo de Manila University, Inc.</span></li>
                                            <li><b>Account Address:&nbsp;</b><span>Katipunan Ave., Loyola Heights, Quezon City</span></li>
                                            <li><b>Bank Account Number:&nbsp;</b><span>3081-0006-29</span></li>
                                            <li><b>Bank Name:&nbsp;</b><span>Bank of the Philippine Islands</span></li>
                                            <li><b>Bank Address:&nbsp;</b><span>Bank of the Philippine Islands</span></li>
                                            <li><b>SWIFT Code:&nbsp;</b><span>BOPIPHMM</span></li>
                                            <li><b>Branch Code:&nbsp;</b><span>308</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        Make sure to have a copy of the validated transaction document.
                                    </li>
                                    <li>
                                        <p>
                                            As soon as payment is made, send a scanned copy of the validated
                                            transaction document to <a href="mailto:info.discs@ateneo.edu">info.discs@ateneo.edu</a>.
                                            Please indicate the following when sending the document:
                                        </p>
                                        <ul>
                                            <li>University Name</li>
                                            <li>Team Name</li>
                                            <li>Names of Team Members</li>
                                        </ul>
                                    </li>
                                    <li>
                                        The organizers will receive the bank confirmation after at least three (3) banking days.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Basic Requirements & Rules</h2>
                            <div class="border border-danger">
                                <p>
                                    Each university or college in Asia can organize teams to participate in the
                                    regional contests at any Asia site. However, a contestant can participate
                                    in, at most, two (2) Asian contest sites during a contest year. A
                                    contestant may not comete in Asia Regional Conststs for more than five (5)
                                    years. A contestant may not compete in World Finals for more than two (2)
                                    years. A team may participate in the Asia Regional Contest, bypassing the
                                    School, Provincialm Invitational, and National levels.
                                </p>
                                <ol>
                                    <li>A Student must be willing and able to compete in the World Finals.</li>
                                    <li>
                                        A sutdent must be enrolled in a degree program at the sponsoring
                                        institution with at least a half-time load. This rule is not to be
                                        construed as disqualifying co-op students, exchange students, students
                                        serving internships, or extramural students.
                                    </li>
                                    <li>
                                        A student may compete for only one institution during a contest year.
                                    </li>
                                    <li>
                                        A student who has competed in two World Finals is NOT eligible to
                                        compete.
                                    </li>
                                    <li>
                                        A student has competed in five Regional Contests is NOT eligible to
                                        compete.
                                    </li>
                                </ol>
                                <p>
                                    If a team has registered and does not cancel their registration at least
                                    ten (10) days before the contest date, and does not show up to the
                                    contest, this team's contestants will be disqualified for all other
                                    contest sites in the same contest year. Cancellation of registration does
                                    not qualify for any refund.
                                </p>
                                <p>
                                    The team members for the team advancing to the World Finals ust be
                                    identical to the members who participated in the Asia On-Site Regional
                                    Contest. No substitution or reserves will be allowed in the World Finals.
                                    Any alteration to the team will disqualify the team in the World Finals.
                                    However, Asia Regional Contests may allow reserve team member
                                    registration and may allow substition of the team member in the Asia
                                    Regional Contest, provided that the team composition is entered in the
                                    ICPC registration system website, before the Regional On-Site Contest.
                                    Any change to the team after that regional contest is not allowed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <h2>Period of Eligibility</h2>
                            <div class="border border-danger">
                                <ol>
                                    <li>
                                        A student who meets the Basic Requirements and FIRST began
                                        post-secondary studies in 2015 or later is eligible to compete.
                                    </li>
                                    <li>
                                        A student who meets the Basic Requirements and was born in 1996 or
                                        later is eligible to compete.
                                    </li>
                                </ol>
                                <p>
                                    For the complete list of the Regional Rules, please visit the&nbsp;
                                    <a href="https://icpc.baylor.edu/regionals/rules#HBasicRequirements">
                                        ICPC Regional Rules
                                    </a> website. For Asia ICPC rules, visit the website of
                                    Asia Director&nbsp;
                                    <a href="http://blog.sina.com.cn/s/blog_b946da100102xmw1.html">C.J. Hwang</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6" id="btn-registrantionTitle">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


