
@{
    ViewBag.Title = "Registration Statistic";
}
<style>
    #menu_Registration {
        color: #ffffff !important;
        background: #30cf6b;
    }
    #menu_Registration_sub2 {
        color: #ffffff !important;
        background: #D2B48C;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle"> Registration Statistic </label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under"><div class="col-lg-12">
               
                    <div class="col-lg-12">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">STT</th>
                                                        <th scope="col">School Name</th>
                                                        <th scope="col">Coach Name</th>
                                                        <th scope="col">Total Member </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>FPT university</td>
                                                        <td>Nguyen Van An</td>
                                                        <td>12</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>

                            </div>
                        </div>
                </div></div>
            </div>
        </div>
    </div>
  