@{
    ViewBag.Title = "ABOUT";
}

    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="col-lg-12" id="content_area2_header">
                <div class="col-lg-12" id="content_area2_title">
                    <label for="exampleInputTitle">About</label>
                </div>
            </div>
            <div class="column">
                <div class="col-lg-12">
                    <form>
                        <div class="column">

                            <div class="col-lg-12">
                                <label class="Event-Schedule" for="Event_Schedule">
                                    About the Event
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Event-Content" for="Event_Schedule">
                                    The Ateneo de Manila University is proud to host the 2019 ICPC Asia-Manila Regional Programming Contest, continuing from experiences in 2016 and 2017.

                                </label>
                                <label class="Event-Content" for="Event_Schedule">
                                    The ICPC Asia-Manila Regionals 2019 serves as one of the qualifiers for the ICPC World Finals.

                                </label>
                                <label class="Event-Content" for="Event_Schedule">
                                    The ICPC traces its roots to 1970 when the first competition was hosted by pioneers of the Alpha Chapter of the UPE Computer Science Honor Society. The initiative spread quickly within the United States and Canada as an innovative program to raise increase ambition, problem-solving aptitude, and opportunities of the strongest students in the field of computing.

                                </label>
                                <label class="Event-Content" for="Event_Schedule">
                                    Over time, the contest evolved into a multi-tier competition with the first championship round conducted in 1977. Since then, the contest has expanded into a worldwide collaborative of universities hosting regional competitions that advance teams to the annual global championship round, the ICPC World Finals.
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

