@{ ViewBag.Title = "Home Page"; }
<!-- Sidebar -->
<style>
    #menu-accommodations {
        color: #ffffff !important;
        background: #30cf6b;
    }

</style>
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Accommodations</label>
            </div>
        </div>
        <div class="main">
            <div class="column">
                <div class="col-lg-12">
                    <form>
                        <div class="column">
                            <div class="col-lg-12">
                                <label class="Accommodations-Content" for="Event_Schedule">
                                    Note: All participants are responsible for booking their own accommodations. We have provided a list of hotels and accommodations that you may consider. Please transact directly with the establishment of choice.
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Accommodations-Title" for="Event_Schedule">
                                    Our Partner Hotels
                                </label>
                                <label class="Event-Content" for="Event_Schedule">
                                    The organizers will provide shuttle service from the hotel to the contest venue and vice-versa for those staying at Microtel by Wyndham - Acropolis and Microtel by Wyndham - UP Technohub. The organizers will have walking companions from the hotel to the contest venue and vice-cersa for those staying at Oracle Hotel & Residences.
                                </label>
                            </div>
                            <div class="col-lg-12" style="overflow:auto;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Hotel</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Landline Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                                Oracle Hotel and Residences
                                                <a href="#">See details</a>
                                            </td>
                                            <td>317 Katipunan Avenue, Loyola Heights Quezon City, Philippines</td>
                                            <td><a href="#">sales@oraclehotel.com.ph</a></td>
                                            <td><a href="#">@(02) 8 926 7777</a></td>
                                        </tr>
                                        <tr>
                                            <td scope="row">
                                                Microtel by Wyndham – Acropolis
                                                <a href="#">See details</a>
                                            </td>
                                            <td>E. Rodriguez Jr. Ave., Brgy. Bagumbayan, Quezon City, Philippines</td>
                                            <td><a href="#">sales@microtel.ph</a></td>
                                            <td><a href="#">(02) 8 899 7171</a></td>
                                        </tr>
                                        <tr>
                                            <td scope="row">
                                                Microtel by Wyndham – UP Technohub
                                                <a href="#">See details</a>
                                            </td>
                                            <td>UP-Ayala Land Technohub, Commonwealth Avenue, Diliman, Quezon City</td>
                                            <td><a href="#">uptechnohub@microtel.ph</a></td>
                                            <td><a href="#">(02) 8 804 6888</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" id="footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row" id="footer-main">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Home</a>
                        </li>
                        <li>
                            <a href="#!">How to register</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Accommodations</a>
                        </li>
                        <li>
                            <a href="#!">Rules</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">ICPC Asia Director's Blog</a>
                        </li>
                        <li>
                            <a href="#!">ICPC Regional Rules</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2 mb-md-0 mb-2">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 29.png">

                    </ul>

                </div>
                <div class="col-md-1 mb-md-0 mb-1">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 30.png">

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <!-- Copyright -->

    </footer>
</div>
<!-- /#page-content-wrapper -->
