@{ ViewBag.Title = "Home Page"; }
<style>
    #menu-downloads {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #414045;
    }
</style>
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Downloads</label>
            </div>
        </div>
        <div class="main">
            <div class="column">
                <div class="col-lg-12" id="Dowload-page">
                    <form>
                        <div class="column">
                            <div class="col-lg-12">
                                <label class="Download-Title" for="Event_Schedule">
                                    <img src="~/image/image 35.png">Downloads
                                </label>
                            </div>

                            <div class="col-lg-12">
                                <label class="Dowload-Content" for="Event_Schedule">
                                    <a href="#">Invitation Letter</a>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Dowload-Content" for="Event_Schedule">
                                    <a href="#">Program Booklet</a>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Dowload-Content" for="Event_Schedule">
                                    <a href="#">Practice Session Problem Set</a>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Dowload-Content" for="Event_Schedule">
                                    <a href="#">Official Contest Problem Set</a>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <label class="Dowload-Content" for="Event_Schedule">
                                    <a href="#">Solution Sketches</a>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" id="footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row" id="footer-main">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Home</a>
                        </li>
                        <li>
                            <a href="#!">How to register</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Accommodations</a>
                        </li>
                        <li>
                            <a href="#!">Rules</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">ICPC Asia Director's Blog</a>
                        </li>
                        <li>
                            <a href="#!">ICPC Regional Rules</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2 mb-md-0 mb-2">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 29.png">

                    </ul>

                </div>
                <div class="col-md-1 mb-md-0 mb-1">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 30.png">

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <!-- Copyright -->

    </footer>
</div>
<!-- /#page-content-wrapper -->
