@{ ViewBag.Title = "Event"; }
<style>
    #menu-event {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>


    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Event</label>
            </div>
        </div>
        <div class="main">
            <div class="column">
                <div class="col-lg-12">
                    <form>
                        <div class="column">
                            <div class="col-lg-12" id="cars-shedule1">
                                <select name="cars" id="cars" class="cars-shedule">
                                    <option value="volvo">25-01-2022</option>
                                    <option value="saab">26-01-2022</option>
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <label class="Event-Schedule" for="Event_Schedule">
                                    Event Schedule
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success">Add</button>
                            </div>
                            <div class="col-lg-12" style="overflow:auto">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">title</th>
                                            <th scope="col">Time Start</th>
                                            <th scope="col">Time End</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Contactor phone</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">camping and bonfires</td>
                                            <td>11:00 AM</td>
                                            <td>12:00 AM</td>
                                            <td>FPT university</td>
                                            <td>0979718763</td>
                                            <td><a href="#">Edit</a></td>
                                            <td><a href="/Home/EventDetail">Detail</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td scope="row">camping and bonfires</td>
                                            <td>11:00 AM</td>
                                            <td>12:00 AM</td>
                                            <td>FPT university</td>
                                            <td>0979718763</td>
                                            <td><a href="#">Edit</a></td>
                                            <td><a href="/Home/EventDetail">Detail</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td scope="row">camping and bonfires</td>
                                            <td>11:00 AM</td>
                                            <td>12:00 AM</td>
                                            <td>FPT university</td>
                                            <td>0979718763</td>
                                            <td><a href="#">Edit</a></td>
                                            <td><a href="/Home/EventDetail">Detail</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
 
