
@{
    ViewBag.Title = "HomePage | Content";
}

<style>
    #menu-home {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #footer {
        display: block;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>

<div id="page-content-wrapper-home">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Content</label>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" id="under">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="jumbotron">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="text-center front-size-title">Lễ khai mạc đại hội tin học</h1>
                                        <div class="thumbnail">
                                            <image src="https://c2.staticflickr.com/4/3689/10613180113_fdf7bcd316_b.jpg">
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="border border-danger">
                                                
                                                    Tham gia Đoàn Chủ tịch Đại hội có các Ủy viên Bộ Chính trị khóa XII và đồng chí Bí thư Trung ương Đảng, Chủ tịch Ủy ban Trung ương Mặt trận Tổ quốc Việt Nam Trần Thanh Mẫn.

                                                    Tham dự lễ khai mạc Đại hội có: Nguyên Tổng Bí thư Nông Đức Mạnh, Nguyên Chủ tịch nước Trần Đức Lương, Nguyên Chủ tịch nước Nguyễn Minh Triết, Nguyên Chủ tịch nước Trương Tấn Sang, Nguyên Thủ tướng Chính phủ Nguyễn Tấn Dũng, Nguyên Chủ tịch Quốc hội Nguyễn Văn An, Nguyên Chủ tịch Quốc hội Nguyễn Sinh Hùng; các đồng chí nguyên Ủy viên Bộ Chính trị, nguyên Bí thư Trung ương Đảng; đại diện Bà mẹ Việt Nam anh hùng, nhân sĩ, trí thức, văn nghệ sĩ, chức sắc tôn giáo, thanh niên tiêu biểu; các đại sứ, đại biện các nước và trưởng đại diện các tổ chức quốc tế tại Việt Nam...
                                                
                                                    <div class="article-photo"><a class="photo" href="https://cdnimg.vietnamplus.vn/uploaded/fsmsy/2022_03_10/ttxvn_ha_thi_nga_1.jpg" data-desc="Chủ tịch Hội Liên hiệp Phụ nữ Việt Nam Hà Thị Nga trình bày Diễn văn khai mạc Đại hội. (Ảnh: Dương Giang/TTXVN)" data-index="0"><img alt="Khai mac trong the Dai hoi dai bieu Phu nu toan quoc lan thu XIII hinh anh 1" src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_ha_thi_nga_1.jpg" title="Khai mạc trọng thể Đại hội đại biểu Phụ nữ toàn quốc lần thứ XIII hình ảnh 1" class="cms-photo" data-photo-original-src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_ha_thi_nga_1.jpg" cms-photo-caption="Chủ tịch Hội Liên hiệp Phụ nữ Việt Nam Hà Thị Nga trình bày Diễn văn khai mạc Đại hội. (Ảnh: Dương Giang/TTXVN)" style="width: 100%;"></a><span>Chủ tịch Hội Liên hiệp Phụ nữ Việt Nam Hà Thị Nga trình bày Diễn văn khai mạc Đại hội. (Ảnh: Dương Giang/TTXVN)</span></div>
                                                <p>Sáng 10/3, tại Trung tâm Hội nghị Quốc gia, Thủ đô Hà Nội, Đại hội đại biểu Phụ nữ toàn quốc lần thứ XIII, nhiệm kỳ 2022-2027 đã khai mạc với sự tham gia của 959 đại biểu chính thức, đại diện cho các tầng lớp phụ nữ trên toàn quốc.</p>
                                                <p>Ủy viên Bộ Chính trị, Thủ tướng Chính phủ Phạm Minh Chính dự buổi lễ.</p>
                                                <p>Dự Đại hội có các Ủy viên Bộ Chính trị: Phó Chủ tịch Thường trực Quốc hội Trần Thanh Mẫn; Bí thư Trung ương Đảng, Trưởng ban Tổ chức Trung ương Trương Thị Mai; Bí thư Trung ương Đảng, Chủ nhiệm Ủy ban Kiểm tra Trung ương Trần Cẩm Tú; Giám đốc Học viện Chính trị quốc gia Hồ Chí Minh - Chủ tịch Hội đồng Lý luận Trung ương Nguyễn Xuân Thắng. Cùng dự có các Bí thư Trung ương Đảng: Phó Thủ tướng Chính phủ Lê Minh Khái và Trưởng ban Dân vận Trung ương Bùi Thị Minh Hoài; Ủy viên Trung ương Đảng, Phó Chủ tịch nước Võ Thị Ánh Xuân.</p>
                                                <p> Dự Lễ khai mạc còn có nguyên Tổng Bí thư Nông Đức Mạnh; nguyên Chủ tịch Quốc hội Nguyễn Thị Kim Ngân cùng nhiều nguyên lãnh đạo Đảng, Nhà nước; đại diện lãnh đạo các ban, bộ, ngành đoàn thể Trung ương và địa phương. </p>
                                                <p>Đại hội vinh dự nhận lẵng hoa chúc mừng của Tổng Bí thư Nguyễn Phú Trọng, Chủ tịch nước Nguyễn Xuân Phúc, Chủ tịch Quốc hội Vương Đình Huệ.&nbsp;</p>
                                                <p><strong>Khơi dậy mạnh mẽ tiềm năng to lớn của các lực lượng phụ nữ</strong></p>
                                                <p>Phát biểu khai mạc, Ủy viên Ban Chấp hành Trung ương Đảng, Chủ tịch Trung ương Hội Liên hiệp Phụ nữ Việt Nam khóa XII Hà Thị Nga nhấn mạnh Đại hội đại biểu Phụ nữ toàn quốc lần thứ XIII là sự kiện chính trị quan trọng, ngày hội lớn của các tầng lớp phụ nữ cả nước, đánh dấu sự phát triển của phong trào phụ nữ và tổ chức Hội Liên hiệp Phụ nữ Việt Nam.</p>
                                                <p>Bà Hà Thị Nga cho biết trong nhiệm kỳ qua, Đảng, Nhà nước tiếp tục ban hành và triển khai thực hiện các chủ trương, chính sách về bình đẳng giới và vì sự phát triển của phụ nữ: Ban Bí thư Trung ương Đảng đã ban hành Chỉ thị 21-CT/TW “về việc tiếp tục đẩy mạnh công tác phụ nữ trong tình hình mới." Nhiều văn bản luật được ban hành, sửa đổi đảm bảo mục tiêu phát triển bền vững và nguyên tắc bình đẳng giới; Chính phủ đã ban hành Chiến lược quốc gia về bình đẳng giới giai đoạn 2021-2030; phê duyệt các chương trình Mục tiêu quốc gia với nhiều nội dung quan trọng, tạo cơ hội hỗ trợ phụ nữ phát triển toàn diện và từng bước thực hiện thúc đẩy bình đẳng giới một cách thực chất…</p>
                                                <div class="article-photo"><a class="photo" href="https://cdnimg.vietnamplus.vn/uploaded/fsmsy/2022_03_10/ttxvn_thu_tuong_pham_minh_chinh.jpg" data-desc="Thủ tướng Phạm Minh Chính và Đoàn Chủ tịch điều hành Đại hội. (Ảnh: Dương Giang/TTXVN)" data-index="1"><img alt="Khai mac trong the Dai hoi dai bieu Phu nu toan quoc lan thu XIII hinh anh 2" src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_thu_tuong_pham_minh_chinh.jpg" title="Khai mạc trọng thể Đại hội đại biểu Phụ nữ toàn quốc lần thứ XIII hình ảnh 2" class="cms-photo" data-photo-original-src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_thu_tuong_pham_minh_chinh.jpg" cms-photo-caption="Thủ tướng Phạm Minh Chính và Đoàn Chủ tịch điều hành Đại hội. (Ảnh: Dương Giang/TTXVN)" style="width: 100%;"></a><span>Thủ tướng Phạm Minh Chính và Đoàn Chủ tịch điều hành Đại hội. (Ảnh: Dương Giang/TTXVN)</span></div>
                                                <p>Đặc biệt, trong bài phát biểu tại Hội nghị văn hóa toàn quốc triển khai Nghị quyết Đại hội Đảng toàn quốc lần thứ XIII, <a href="/tags/T%e1%bb%95ng-B%c3%ad-th%c6%b0-Nguy%e1%bb%85n-Ph%c3%ba-Tr%e1%bb%8dng.vnp"><strong>Tổng Bí thư Nguyễn Phú Trọng</strong></a> đã nhấn mạnh “thực hiện bình đẳng giới là một tiêu chí của tiến bộ, văn minh," điều đó tiếp tục khẳng định tầm quan trọng của bình đẳng giới đối với sự phát triển bền vững của đất nước.</p>
                                                <p>Trong bối cảnh dịch COVID-19 diễn biến phức tạp, ảnh hưởng nghiêm trọng đến đời sống của nhân dân trên toàn thế giới, trong đó có Việt Nam, Đảng, Nhà nước đã lãnh đạo toàn dân, toàn hệ thống chính trị đồng lòng, đoàn kết, nỗ lực phòng, chống dịch bệnh, trong đó các tầng lớp phụ nữ Việt Nam vừa là chủ thể quan trọng tham gia phòng, chống dịch bệnh, vừa được quan tâm, thụ hưởng nhiều chính sách hỗ trợ rất kịp thời và thiết thực.</p>
                                                <p>“Hoạt động của tổ chức Hội đã được đổi mới, linh hoạt, dần đáp ứng yêu cầu thực tiễn, bám sát nhu cầu thiết thân của phụ nữ và nhiệm vụ chính trị của các địa phương, đơn vị, được các cấp, các ngành ghi nhận, đánh giá cao," Chủ tịch Trung ương Hội Liên hiệp Phụ nữ Việt Nam Hà Thị Nga khẳng định.</p>
                                                <p>Trải qua hơn 91 năm hình thành và phát triển, mỗi kỳ Đại hội đại biểu phụ nữ toàn quốc đều có ý nghĩa vô cùng quan trọng. Đại hội đại biểu phụ nữ toàn quốc lần thứ XIII được tổ chức trong bối cảnh công cuộc đổi mới do Đảng ta khởi xướng và lãnh đạo đã giành được những thành tựu to lớn, có ý nghĩa lịch sử. Đại hội lần thứ XIII của Đảng mở ra vận hội mới cho đất nước và cơ hội phát triển cho mọi tầng lớp nhân dân nói chung, phụ nữ nói riêng nhưng cũng đặt ra những yêu cầu nhiệm vụ to lớn cho cả hệ thống chính trị, trong đó có tổ chức Hội Liên hiệp phụ nữ Việt Nam.</p>
                                                <p><strong><a href="https://www.vietnamplus.vn/soi-noi-cac-hoat-dong-chao-mung-dai-hoi-dai-bieu-phu-nu-toan-quoc/777266.vnp" rel="" class="cms-relate">[Sôi nổi các hoạt động chào mừng Đại hội đại biểu Phụ nữ toàn quốc]</a></strong></p>
                                                <p>Đại hội đại biểu phụ nữ toàn quốc lần thứ XIII có nhiệm vụ kiểm điểm, đánh giá khách quan, toàn diện các kết quả, hạn chế và nguyên nhân; rút ra những bài học kinh nghiệm thật sự sâu sắc sau 5 năm thực hiện Nghị quyết Đại hội đại biểu phụ nữ toàn quốc lần thứ XII; tập trung trí tuệ, dân chủ thảo luận để xác định mục tiêu, phương hướng, nhiệm vụ nhiệm kỳ 2022-2027; thông qua Điều lệ Hội Liên hiệp Phụ nữ Việt Nam (sửa đổi, bổ sung); bầu ra Ban Chấp hành Trung ương Hội khóa XIII thực sự tiêu biểu về phẩm chất chính trị, đạo đức, trí tuệ, sức sáng tạo, đủ năng lực lãnh đạo hoàn thành những nhiệm vụ to lớn của phong trào phụ nữ và công tác Hội trong nhiệm kỳ tới.</p>
                                                <p>Với tinh thần “Đoàn kết-Nhân văn-Sáng tạo-Phát triển," <a href="/tags/%c4%90%e1%ba%a1i-h%e1%bb%99i-%c4%91%e1%ba%a1i-bi%e1%bb%83u-Ph%e1%bb%a5-n%e1%bb%af-to%c3%a0n-qu%e1%bb%91c.vnp"><strong>Đại hội đại biểu phụ nữ toàn quốc</strong></a> lần thứ XIII sẽ thực sự tạo nên những đột phá nhằm khơi dậy mạnh mẽ tiềm năng to lớn của các lực lượng phụ nữ Việt Nam, góp phần hiện thực hóa khát vọng xây dựng một đất nước Việt Nam phồn vinh, hạnh phúc.</p>
                                                <p><strong>Lấy hạnh phúc và lợi ích của phụ nữ là mục tiêu</strong></p>
                                                <p>Báo cáo tại Đại hội, Phó Chủ tịch Thường trực Trung ương <a href="/tags/H%e1%bb%99i-Li%c3%aan-hi%e1%bb%87p-Ph%e1%bb%a5-n%e1%bb%af-Vi%e1%bb%87t-Nam.vnp"><strong>Hội Liên hiệp Phụ nữ Việt Nam</strong></a> Đỗ Thị Thu Thảo cho biết năm năm qua, dưới sự lãnh đạo của Đảng, các tầng lớp phụ nữ đã đoàn kết, kiên cường, nỗ lực góp phần tạo nên những thành tựu to lớn trên các lĩnh vực của đời sống xã hội. Các mục tiêu quốc gia về bình đẳng giới có những tiến bộ rõ nét, tạo điều kiện, cơ hội để phụ nữ khẳng định phẩm chất tốt đẹp, tiềm năng to lớn và vai trò quan trọng trong gia đình, xã hội.</p>
                                                <p>Với nỗ lực quyết tâm của cả hệ thống chính trị, tỷ lệ nữ tham gia cấp ủy các cấp đều tăng so với nhiệm kỳ trước, đặc biệt, lần đầu tiên kể từ khi đất nước thực hiện công cuộc Đổi mới, tỷ lệ nữ đại biểu Quốc hội đạt trên 30%. Phụ nữ ngày càng ý thức được trách nhiệm và quyền công dân, phát huy quyền làm chủ, tham gia tích cực trong xây dựng Đảng, xây dựng hệ thống chính trị.</p>
                                                <p> Trong bối cảnh thiên tai và dịch COVID-19 diễn biến phức tạp, phụ nữ cả nước bằng tấm lòng yêu thương, nhân ái, đã phát huy cao độ trách nhiệm công dân, tham gia trên mọi mặt trận góp phần thực hiện mục tiêu kép vừa chống dịch vừa phát triển kinh tế, khắc phục hậu quả thiên tai, dịch bệnh, ổn định cuộc sống.</p>
                                                <div class="article-photo"><a class="photo" href="https://cdnimg.vietnamplus.vn/uploaded/fsmsy/2022_03_10/ttxvn_dai_hoi_phu_nu_10.jpg" data-desc="Các đại biểu tham dự Đại hội. (Ảnh: TTXVN)" data-index="2"><img alt="Khai mac trong the Dai hoi dai bieu Phu nu toan quoc lan thu XIII hinh anh 3" src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_dai_hoi_phu_nu_10.jpg" title="Khai mạc trọng thể Đại hội đại biểu Phụ nữ toàn quốc lần thứ XIII hình ảnh 3" class="cms-photo" data-photo-original-src="https://cdnimg.vietnamplus.vn/t620/uploaded/fsmsy/2022_03_10/ttxvn_dai_hoi_phu_nu_10.jpg" cms-photo-caption="Các đại biểu tham dự Đại hội. (Ảnh: TTXVN)" style="width: 100%;"></a><span>Các đại biểu tham dự Đại hội. (Ảnh: TTXVN)</span></div>
                                                <p>Công tác tuyên truyền, vận động, hỗ trợ phụ nữ xây dựng gia đình no ấm, tiến bộ, hạnh phúc, văn minh, trọng tâm là cuộc vận động “Xây dựng gia đình 5 không, 3 sạch” được triển khai đồng bộ, toàn diện, đã đóng góp đáng kể vào kết quả thực hiện Chương trình mục tiêu quốc gia xây dựng nông thôn mới. Đáng chú ý, có 13 triệu gia đình hội viên đạt tiêu chí “5 không, 3 sạch," gần 17.000 công trình/phần việc giữ gìn, bảo vệ môi trường, thích ứng biến đổi khí hậu được triển khai rộng khắp, làm thay đổi bộ mặt nông thôn và khẳng định vai trò của tổ chức Hội ở cơ sở.</p>
                                                <p>Với chủ đề xuyên suốt trong hơn nửa nhiệm kỳ, “An toàn cho phụ nữ và trẻ em," các cấp Hội đã triển khai nhiều mô hình, ký kết phối hợp hoạt động góp phần nâng cao trách nhiệm của xã hội và gia đình trong xây dựng môi trường sống an toàn, lành mạnh. Đồng thời, các cấp Hội thực hiện nhiệm vụ chính trị và lồng ghép giới trong các chương trình phát triển kinh tế-xã hội; vận động gần 500 tỷ đồng, 730.000 phần quà san sẻ yêu thương cho hội viên, phụ nữ và nhân dân bị ảnh hưởng bởi thiên tai dịch bệnh, nhận làm mẹ đỡ đầu trên 5000 trẻ mồ côi; hơn 700 tỷ đồng xây dựng và sửa chữa mái ấm tính thương, trên 3.000 tỷ đồng cho các hoạt động xã hội, từ thiện.</p>
                                                <p>Trong nhiệm kỳ, Trung ương Hội đã tham mưu đề xuất Chính phủ ban hành 3 Đề án, cụ thể hóa nội dung hỗ trợ phụ nữ trong 3 chương trình mục tiêu quốc gia; các tỉnh, thành Hội tham mưu, đề xuất xây dựng hơn 600 chính sách thiết thân đối với phụ nữ, qua đó huy động nguồn lực và sự tham gia của các cấp, các ngành vào công tác phụ nữ và bình đẳng giới. Đặc biệt lần đầu tiên Hội được phân công chủ trì triển khai dự án thực hiện <a href="/tags/B%c3%acnh-%c4%91%e1%ba%b3ng-gi%e1%bb%9bi.vnp"><strong>bình đẳng giới</strong></a> và giải quyết những vấn đề cấp thiết đối với phụ nữ và trẻ em trong Chương trình mục tiêu quốc gia “Phát triển kinh tế-xã hội vùng dân tộc thiểu số, miền núi giai đoạn 2021-2030."</p>
                                                <p>Bên cạnh những thành tựu đã đạt được, công tác Hội và phong trào phụ nữ còn một số hạn chế, khó khăn. Phong trào phụ nữ chưa đồng đều trên mọi lĩnh vực, vùng miền, đối tượng, chưa khơi dậy và phát huy đầy đủ tiềm năng, sức sáng tạo của một bộ phận phụ nữ, nhất là phụ nữ có tầm ảnh hưởng, phụ nữ hoạt động trong lĩnh vực văn hóa, nghệ thuật. </p>
                                                <p>Đời sống vật chất, tinh thần của một bộ phận phụ nữ còn khó khăn, nhất là sau ảnh hưởng của thiên tai, dịch bệnh; tỷ lệ phụ nữ nông thôn được đào tạo nghề còn thấp. Môi trường sống an toàn cho phụ nữ và trẻ em có mặt chưa bảo đảm; tình trạng mất an toàn vệ sinh thực phẩm, bạo lực với phụ nữ, buôn bán phụ nữ, xâm hại trẻ em đáng báo động. Một bộ phận phụ nữ chưa đáp ứng được yêu cầu của thị trường lao động; còn tình trạng phụ nữ thiếu hiểu biết pháp luật, sa vào tệ nạn xã hội, rời xa trách nhiệm với gia đình và xã hội.</p>
                                                <p>Đề ra phương hướng, nhiệm vụ trong nhiệm kỳ tới, Trung ương Hội Liên hiệp Phụ nữ Việt Nam sẽ tiếp tục bám sát, cụ thể hóa đường lối, chủ trương của Đảng, nhiệm vụ phát triển kinh tế-xã hội và bảo vệ Tổ quốc, căn cứ thực tiễn và yêu cầu của phong trào phụ nữ trong giai đoạn mới; phát huy và kế thừa truyền thống tốt đẹp của phụ nữ Việt Nam, khơi dậy mạnh mẽ tiềm năng, sức sáng tạo, ý chí tự lực, tự cường, tinh thần đoàn kết của phụ nữ, đồng thời chăm lo, bảo vệ quyền và lợi ích hợp pháp, chính đáng, đồng hành giải quyết các vấn đề thiết thân của phụ nữ là nhiệm vụ xuyên suốt; lấy hạnh phúc và lợi ích của phụ nữ là mục tiêu; lấy sự đồng thuận và tin tưởng của phụ nữ là thước đo chất lượng, hiệu quả hoạt động của tổ chức Hội.</p>
                                                <p>Bên cạnh đó, tập trung đổi mới nội dung, phương thức hoạt động; đẩy mạnh hội nhập quốc tế; mở rộng tính liên hiệp, tập hợp rộng rãi các tầng lớp phụ nữ trên nguyên tắc dân chủ, tự nguyện là nhiệm vụ then chốt để xây dựng tổ chức Hội vững mạnh, hoạt động chuyên nghiệp, hiệu quả.../.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

