
@{
    Layout = "~/Views/Shared/_SigninLayout.cshtml";
    ViewBag.Title = "Login";
}

<div id="wrapper-home">
    <div class="back">
        <div class="div-center">
            <div class="content">
                <label for="exampleInputUserLogin" id="homeUserLogin">User Login</label>

                <form>
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleInputLoginUser" placeholder="User">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputLoginPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btnHomeLogin"><a href="https://localhost:44337/Home/ChangPassword" class="button">Login</a></button>
                    </div>
                    <label for="exampleInputUserLogin" id="homeUserLoginSub">Log in using your account on:</label>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btnHomeSignInGoogle">Sign in with google</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>