@{
    //Layout = "~/Views/Shared/_Layout.cstml";
    ViewBag.Title = "Home Page";
}

<style>
    #footer {
        display: none;
    }
</style>
<button class="btn btn-outline-login" onclick="location.href='@Url.Action("", "SignUp")';return false;" style="width:auto;height:40px;margin-right:5px;border-radius:15px;">Registration</button>
<div id="page-content-wrapper-home">
    <div class="container-fluid xyz">
        <div id="carousel-simple" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-simple" data-slide-to="1"></li>
                <li data-target="#carousel-simple" data-slide-to="2"></li>
                <li data-target="#carousel-simple" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="image-home1" src="~/image/code_war_2019_2(2) 2.png" alt="">
                </div>
                <div class="item">
                    <img class="image-home1" src="~/image/code_war_2019_2(2) 2.png" alt="">
                </div>
                <div class="item">
                    <img class="image-home1" src="~/image/code_war_2019_2(2) 2.png" alt="">
                </div>
                <div class="item">
                    <img class="image-home1" src="~/image/code_war_2019_2(2) 2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>