@{
    //Layout = "~/Views/Shared/_Layout.cstml";
    ViewBag.Title = "Home Page";
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
<link rel="stylesheet" href="~/Content/PenStyle.css" asp-append-version="true" />
<style>
    #menu-home {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #footer {
        display: block;
    }
</style>
<div id="page-content-wrapper-home">
    <div class="container-fluid xyz">
        <div class="main">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <img src="~/image/code_war_2019_2(2) 2.png" class="img-fluid" alt="Responsive image" style="width:100%">
                            <div class="carousel-caption">
                                <h3 id="text-content-home7">THE 2021 ICPC ASIA HANOI - VIET NAM</h3>
                                <p id="text-content-home8">Regional Contest</p>
                            </div>
                        </div>
                    </div>

                    <div class="container col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-carousel">
                                <div class="mt-4 mb-5">
                                    <h2 class="front-size-title" data-text="A &#45; B">Maybe you do not know</h2>
                                </div>
                                <div class="form-group">
                                    <div class="owl-carousel carousel-main">
                                        <div class="item single-vendor">
                                            <div class="vendor-info">
                                                <img src="~/image/event-icon-marketing-company-between-company-and-customers-2C65EKX.jpg">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    Event is the place where event activities take place. You can sign up for those great events here.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor ">
                                            <div class="vendor-info">
                                                <img src="~/image/leaderboard-style-winner-podium-icon-design-vector.jpg">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    Scoreboard where you can see your favorite team's achievements.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor">
                                            <div class="vendor-info">
                                                <img src="~/image/2037394.png">
                                            </div>
                                            <div class="caption">
                                                <p>A place to look up exam questions.</p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor ">
                                            <div class="vendor-info">
                                                <img src="~/image/2534888.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    Please read the rules carefully before taking the exam.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor">
                                            <div class="vendor-info">
                                                <img src="~/image/3701836.png">
                                            </div>
                                            <div class="caption">
                                                <p>
                                                    Resting places arranged by the competition.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item single-vendor ">
                                            <div class="vendor-info">
                                                <img src="~/image/5728131.png">
                                            </div>
                                            <div class="caption">
                                                <p>Download the system information you want about the contest.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="content-item">

                        <div class="form-group">
                            <div class="blog-card">
                                <div class="meta">
                                    <div class="photo"> <img src="~/image/image-2.jpg"></div>
                                    <ul class="details">
                                        <li class="date">Aug. 24, 2015</li>
                                    </ul>
                                </div>
                                <div class="description">
                                    <lable class="front-size-title">Lễ khai mạc đại hội tin học</lable>
                                    <h2>description:</h2>
                                    <p class="border border-danger">
                                        Lời đầu tiên, toàn thể dự án VNYP xin được gửi lời cảm ơn chân thành nhất tới tất cả các quý vị đại biểu, khách mời, các cơ quan báo chí và các bạn Nghị sĩ trẻ đã dành thời gian tham dự Lễ Khai mạc của Dự án Diễn đàn Nghị viện Trẻ năm 2016.Đối với dự án nói chung, buổi khai mạc ngày hôm nay có ý nghĩa đặc biệt quan trọng bởi đây là buổi lễ đánh dấu VNYP chính thức đi vào hoạt động.
                                        Dự án rất biết ơn các vị đại biểu, khách mời, cố vấn - những người đã cùng dõi theo dự án trong suốt thời gian qua, đưa ra những góp ý cần thiết và có những chia sẻ rất tâm huyết đối với dự án cũng như các bạn Nghị sĩ trẻ.
                                        Dự án xin được chân thành cảm ơn sự quan tâm của các đơn vị và các nhà báo, phóng viên đã dành thời gian tham gia sự kiện và tích cực đăng tin bài về sự kiện.
                                    </p>
                                    <p class="read-more">
                                        <a href="#">Read More...</a>
                                    </p>
                                </div>
                            </div>
                            <div class="blog-card alt">
                                <div class="meta">
                                    <div class="photo"><img src="~/image/image-2.jpg"></div>
                                    <ul class="details">
                                        <li class="date">July. 15, 2015</li>
                                    </ul>
                                </div>
                                <div class="description">
                                    <h1>Lễ Bế mạc đại hội tin học</h1>
                                    <h2>description:</h2>
                                    <p>
                                        Lễ Bế Mạc Năm Thánh 2010 và Đại Hội La Vang 29 diễn ra thành công tốt đẹp, Linh Mục Quản Nhiệm La Vang Giacôbê Lê Sĩ Hiền đã thay mặt ban tổ chức đọc lời cám ơn:

                                        Thay mặt Ban Tổ Chức Đại Lễ Bế mạc Năm Thánh 2010 Giáo Hội Công Giáo Việt Nam và Đại Hội Hành Hương Đức Mẹ La Vang 29

                                        Chúng con xin kính cảm ơn Đức Tổng Giám mục và Đức Giám mục Phụ tá đã tín nhiệm ủy thác công việc tổ chức ngày Đại Lễ Bế mạc Năm Thánh 2010 Giáo Hội Công Giáo Việt Nam và Đại Hội Hành Hương Đức Mẹ La Vang 29 cho chúng con.
                                    </p>
                                    <p class="read-more">
                                        <a href="#">Read More...</a>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <p class="text-center" id="text-content-home3">Pacific/Peninsula or Asia; About Asia administrative sub-regions partition, refer to</p>
                            <p class="text-center" id="text-content-home4">  http://blog.sina.com.cn/cjhwang</p>
                            <p class="text-center"><span id="text-content-home5">The ICPC International:</span><span id="text-content-home6"> https://icpc.global</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script>
<script>
    // JavaScript Document
    $('.owl-carousel').owlCarousel({

        //autoplay Controls
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,


        //loop
        loop: true,

        //spacing
        margin: 10,


        //navigation
        nav: true,
        dots: true,
        navText: ['<span class="fas fa-chevron-left fa-2x"></span>', '<span class="fas fa-chevron-right fa-2x"></span>'],
        //responsiveness
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });
</script>
