@{
    ViewBag.Title = "List | Content";
    var lstPost = ViewData["ListPost"] as List<Capstone_SWP490.Models.post_ViewModel.post_TopViewModel>;
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
<link rel="stylesheet" href="~/Content/PenStyle.css" asp-append-version="true" />
<link rel='stylesheet' href='https://codepen.io/Michael-luke/pen/PzGywb.css'>
<style>
    #menu-home {
        color: #ffffff !important;
        background: #30cf6b;
    }

    #footer {
        display: block;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>


    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">List content</label>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" id="under">
                    <div class="col-lg-12">
                        <table id="dtBasicExample" class="table table-borderless" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (lstPost.Count > 0)
                                {
                                    foreach (var x in lstPost)
                                    {
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="blog-card">
                                                        <div class="meta">
                                                            <div class="photo"> <img src="~/image/post/@x.title_image"> </div>
                                                            <ul class="details">
                                                                <li class="date"> @x.schedule_date</li>
                                                            </ul>
                                                        </div>
                                                        <div class="description">
                                                            <lable class="front-size-title"> @x.title</lable>
                                                            <h2> description:</h2>
                                                            <p class="border border-danger">
                                                                @(x.short_description??"N/A")
                                                            </p>
                                                            <p class="read-more">
                                                                <a href="/Home/HomePageContent?post_Id=@x.post_id"> Read More...</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="blog-card">
                                                    <div class="description">
                                                        <lable class="front-size-title"> <i>No Posts</i></lable>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>