@{
    ViewBag.Title = "Home Page";
}


    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="col-lg-12" id="content_area2_header">
                <div class="col-lg-12" id="content_area2_title">
                    <label for="exampleInputTitle">Registration</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputTeamID">Team ID</label>
                                    <input type="number" class="form-control" id="exampleInputTeamID" aria-describedby="Team ID" placeholder="Team ID">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputSchoolID">School ID</label>
                                    <input type="number" class="form-control" id="exampleInputSchoolID" aria-describedby="School ID" placeholder="School ID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputFirstName">First name</label>
                                    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="Frist name" placeholder="Frist name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputMiddleName">Middle name</label>
                                    <input type="text" class="form-control" id="exampleInputMiddleName" aria-describedby="Middle name" placeholder="Middle name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputLastName">Last name</label>
                                    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="Date of birth" placeholder="Last name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputDoB">Date of birth</label>
                                    <input type="date" class="form-control" id="exampleInputDoB" aria-describedby="Last name" placeholder="Date of birth">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emai" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputPhone">Phone</label>
                                    <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="Phone" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputICPC">ICPC</label>
                                    <input type="number" class="form-control" id="exampleInputICPC" aria-describedby="ICPC" placeholder="ICPC">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputYear">Year</label>
                                    <input type="number" class="form-control" id="exampleInputYear" aria-describedby="Year of studying" placeholder="Year of studying">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputGender">Gender: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextareaAward">Award</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Declare previously won prizes(National, International)"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">
                                    then send mail to member when an event created
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


