@{ ViewBag.Title = "Home Page"; }

<style>
    #menu-rules {
        color: #ffffff !important;
        background: #30cf6b;
    }

    .dragdrop {
      
    }

    .ui-state-hover {
        background: lightyellow;
    }

    .ui-state-active {
        background: lightgray
    }
</style>
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Rules</label>
            </div>
        </div>
        <div class="main">
            <div class="column">
                <div class="col-lg-12">
                    <form>
                        <div class="column">
                            <div class="col-lg-12 dragdrop">
                                <div class="col-lg-12">
                                    <label class="Event-Schedule" for="Event_Schedule">
                                        <img src="~/image/image 24.png">The Contest
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="Event-Content" for="Event_Schedule">
                                        Ten (10) or more algorithmic problems will be posed for teams to solve in five (5) hours. While the contest is scheduled
                                        for five hours, the Regional Contest Director has the authority to alter the length of the contest in the even of unforeseen
                                        difficulties. Should the contest duration be altered, every attempt will be made to notify contestants in a timely and
                                        uniform manner.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Problems will be posed in English. During the contest , all communications from contest officials to contestants will be in English.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        A contestant may submit a claim of ambiguity or error in a problem statement by submitting a clarification request using the contest management system. If the judges agree that ambiguity is present in the problem, a broadcast of the clarification will be made to all teams.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Should a contestant require use of the restroom during the contest proper, the contestant will be accompanied by a designated usher.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 dragdrop">
                                <div class="col-lg-12">
                                    <label class="Event-Schedule" for="Event_Schedule">
                                        <img src="~/image/image 25.png">Submissions
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="Event-Content" for="Event_Schedule">
                                        Ten (10) or more algorithmic problems will be posed for teams to solve in five (5) hours. While the contest is scheduled
                                        for five hours, the Regional Contest Director has the authority to alter the length of the contest in the even of unforeseen
                                        difficulties. Should the contest duration be altered, every attempt will be made to notify contestants in a timely and
                                        uniform manner.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Problems will be posed in English. During the contest , all communications from contest officials to contestants will be in English.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        A contestant may submit a claim of ambiguity or error in a problem statement by submitting a clarification request using the contest management system. If the judges agree that ambiguity is present in the problem, a broadcast of the clarification will be made to all teams.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Should a contestant require use of the restroom during the contest proper, the contestant will be accompanied by a designated usher.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 dragdrop">
                                <div class="col-lg-12">
                                    <label class="Event-Schedule" for="Event_Schedule">
                                        <img src="~/image/image 26.png">Scoring and Ranks
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="Event-Content" for="Event_Schedule">
                                        Ten (10) or more algorithmic problems will be posed for teams to solve in five (5) hours. While the contest is scheduled
                                        for five hours, the Regional Contest Director has the authority to alter the length of the contest in the even of unforeseen
                                        difficulties. Should the contest duration be altered, every attempt will be made to notify contestants in a timely and
                                        uniform manner.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Problems will be posed in English. During the contest , all communications from contest officials to contestants will be in English.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        A contestant may submit a claim of ambiguity or error in a problem statement by submitting a clarification request using the contest management system. If the judges agree that ambiguity is present in the problem, a broadcast of the clarification will be made to all teams.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Should a contestant require use of the restroom during the contest proper, the contestant will be accompanied by a designated usher.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 dragdrop">
                                <div class="col-lg-12">
                                    <label class="Event-Schedule" for="Event_Schedule">
                                        <img src="~/image/image 28.png">Contestant Conduct
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="Event-Content" for="Event_Schedule">
                                    Ten (10) or more algorithmic problems will be posed for teams to solve in five (5) hours. While the contest is scheduled
                                    for five hours, the Regional Contest Director has the authority to alter the length of the contest in the even of unforeseen
                                    difficulties. Should the contest duration be altered, every attempt will be made to notify contestants in a timely and
                                    uniform manner.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Problems will be posed in English. During the contest , all communications from contest officials to contestants will be in English.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        A contestant may submit a claim of ambiguity or error in a problem statement by submitting a clarification request using the contest management system. If the judges agree that ambiguity is present in the problem, a broadcast of the clarification will be made to all teams.

                                    </label>
                                    <label class="Event-Content" for="Event_Schedule">
                                        Should a contestant require use of the restroom during the contest proper, the contestant will be accompanied by a designated usher.
                                    </label>

                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>

        </div>

    </div>
    <footer class="page-footer font-small blue pt-4" id="footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row" id="footer-main">
                <div class="container">
                    <!-- Grid column -->
                    <div class="col-lg-3 col-xs-6">

                        <!-- Links -->


                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Home</a>
                            </li>
                            <li>
                                <a href="#!">How to register</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-xs-6">

                        <!-- Links -->


                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Accommodations</a>
                            </li>
                            <li>
                                <a href="#!">Rules</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-xs-6">

                        <!-- Links -->

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">ICPC Asia Director's Blog</a>
                            </li>
                            <li>
                                <a href="#!">ICPC Regional Rules</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-3 col-xs-6">

                        <!-- Links -->

                        <ul class="list-unstyled">

                            <img src="~/image/image 29.png">

                        </ul>

                    </div>

                    <!-- Grid column -->
                </div>
            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <!-- Copyright -->

    </footer>
</div>
<!-- /#page-content-wrapper -->

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script>
    jQuery.fn.swap = function (b) {
        // method from: http://blog.pengoworks.com/index.cfm/2008/9/24/A-quick-and-dirty-swap-method-for-jQuery
        b = jQuery(b)[0];
        var a = this[0];
        var t = a.parentNode.insertBefore(document.createTextNode(''), a);
        b.parentNode.insertBefore(a, b);
        t.parentNode.insertBefore(b, t);
        t.parentNode.removeChild(t);
        return this;
    };


    $(".dragdrop").draggable({ revert: true, helper: "clone" });

    $(".dragdrop").droppable({
        accept: ".dragdrop",
        activeClass: "ui-state-hover",
        hoverClass: "ui-state-active",
        drop: function (event, ui) {

            var draggable = ui.draggable, droppable = $(this),
                dragPos = draggable.position(), dropPos = droppable.position();

            draggable.css({
            
             
            });

            droppable.css({
             
              
            });
            draggable.swap(droppable);
        }
    });
</script>
