@{
    ViewBag.Title = "Home Page";
}


<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Schedule of activity</label>
            </div>
        </div>
        <div class="column">
            <div class="col-lg-12">
                <form>
                    <div class="column">
                        <div class="col-lg-12" id="cars-shedule1">
                            <select name="cars" id="cars" class="cars-shedule">
                                <option value="volvo">25-01-2022</option>
                                <option value="saab">26-01-2022</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="Event-Schedule" for="Event_Schedule">
                                Event Schedule
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Time Start</th>
                                        <th scope="col">Time End</th>
                                        <th scope="col">Activity</th>
                                        <th scope="col">Venue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">11:00 AM</th>
                                        <td>11:00 AM</td>
                                        <td>Registration and Lunch</td>
                                        <td>Leong Hall Roofdeck</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11:00 AM</th>
                                        <td>11:00 AM</td>
                                        <td>Registration and Lunch</td>
                                        <td>Leong Hall Roofdeck</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11:00 AM</th>
                                        <td>11:00 AM</td>
                                        <td>Registration and Lunch</td>
                                        <td>Leong Hall Roofdeck</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

