
@{
    ViewBag.Title = "Scoreboard | Management";
}

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Scoreboard Management</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="form-group pull-right">
                                <button type="button" onclick="window.location.href='/Home/ScoreboardUpload'" class="btn btn-success">Add</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                        </div>
                        <div class="col-lg-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Link Scoreboard</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Scoreboard</td>
                                        <td>https://getbootstrap.com/docs/4.1/content/tables/</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
