@{
    ViewBag.Title = "Scoreboard";
    var profile = Session["profile"] as Capstone_SWP490.Models.app_userViewModel.app_userViewModel;

}

<style>
    #menu_Scoreboard {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>
<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Scoreboard</label>
        </div>
    </div>
    <div class="main">
        <div class="column">
            <div class="col-lg-10 col-lg-offset-1" id="under">
                <section>
                    <div class="form-group" style="padding-left:15px">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li role="presentation" class="nav-item active">
                                <a href="#step1" class="nav-link front-size-title active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">Southern</a>
                            </li>

                            <li role="presentation" class="nav-item">
                                <a href="#step2" class="nav-link front-size-title" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">Central</a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#step3" class="nav-link front-size-title" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">Northern</a>
                            </li>

                        </ul>
                    </div>
                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="col-lg-12">
                                    <iframe class="col-lg-12" id="content-iframe" src="https://icpcvn.github.io/2021/southern/scoreboard.html">
                                    </iframe>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <div class="col-lg-12">
                                    <iframe class="col-lg-12" id="content-iframe" src="https://icpcvn.github.io/2021/central/scoreboard.html">
                                    </iframe>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="col-lg-12">
                                    <iframe class="col-lg-12" id="content-iframe" src="https://icpcvn.github.io/2021/northern/scoreboard.html">
                                    </iframe>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </section>
            </div>
           

        </div>
    </div>
</div>
<script>
    $(function () {
        var $content = $('#content-iframe');
        $('#toc a')
            .click(function () {
                $content.attr('src', $(this).attr('href'));
                return false;
            });
    });
</script>