@{ ViewBag.Title = "Shirt Sizing"; }
<style>
    #menu_ShirtSizing {
        color: #ffffff !important;
        background: #30cf6b;
    }
</style>

<div class="container-fluid xyz">
    <div class="col-lg-12" id="content_area2_header">
        <div class="col-lg-12" id="content_area2_title">
            <label for="exampleInputTitle">Shirt Sizing</label>
        </div>
    </div>
    <div class="main">
        <div class="row">
                    <div class="col-lg-10 col-lg-offset-1" id="under">
                        <table class="table table-striped">
                            <lable for="exampleInputshirtSizingTitle" id="SizingTitle">The following table shows the t-shirt size guide for choosing your appropriate event shirt size.</lable>
                            <thead>
                                <tr>
                                    <th scope="col" class="size-tittle"></th>
                                    <th scope="col" class="size-tittle">XS</th>
                                    <th scope="col" class="size-tittle">S</th>
                                    <th scope="col" class="size-tittle">M</th>
                                    <th scope="col" class="size-tittle">L</th>
                                    <th scope="col" class="size-tittle">XL</th>
                                    <th scope="col" class="size-tittle">2XL</th>
                                    <th scope="col" class="size-tittle">3XL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <th scope="row">Chest Width</th>
                                    <td>18"</td>
                                    <td>19"</td>
                                    <td>20"</td>
                                    <td>21"</td>
                                    <td>22"</td>
                                    <td>23"</td>
                                    <td>24"</td>
                                </tr>
                                <tr>
                                    <th scope="row">Length</th>
                                    <td>26"</td>
                                    <td>27"</td>
                                    <td>28"</td>
                                    <td>29"</td>
                                    <td>30"</td>
                                    <td>31"</td>
                                    <td>32"</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
</div>




