@{ ViewBag.Title = "Home Page"; }
<style>
    #menu-shirtsizing {
        color: #ffffff !important;
        background: #30cf6b;
    }

</style>
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="col-lg-12" id="content_area2_header">
            <div class="col-lg-12" id="content_area2_title">
                <label for="exampleInputTitle">Shirt Sizing</label>
            </div>
        </div><div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="col-lg-1">
                            <div>
                                <img src="~/image/leght 1.png">
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12" id="talbe-shirtSizing">
                                    <table class="table table-striped">

                                        <label for="exampleInputshirtSizingTitle" id="shirtSizingTitle">The following table shows the t-shirt size guide for choosing your appropriate event shirt size.</lable>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="size-tittle"></th>
                                                <th scope="col" class="size-tittle">XS</th>
                                                <th scope="col" class="size-tittle">S</th>
                                                <th scope="col" class="size-tittle">M</th>
                                                <th scope="col" class="size-tittle">L</th>
                                                <th scope="col" class="size-tittle">XL</th>
                                                <th scope="col" class="size-tittle">2XL</th>
                                                <th scope="col" class="size-tittle">3XL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <th scope="row">Chest Width</th>
                                                <td>18"</td>
                                                <td>19"</td>
                                                <td>20"</td>
                                                <td>21"</td>
                                                <td>22"</td>
                                                <td>23"</td>
                                                <td>24"</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Length</th>
                                                <td>26"</td>
                                                <td>27"</td>
                                                <td>28"</td>
                                                <td>29"</td>
                                                <td>30"</td>
                                                <td>31"</td>
                                                <td>32"</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" id="footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row" id="footer-main">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Home</a>
                        </li>
                        <li>
                            <a href="#!">How to register</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Accommodations</a>
                        </li>
                        <li>
                            <a href="#!">Rules</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">ICPC Asia Director's Blog</a>
                        </li>
                        <li>
                            <a href="#!">ICPC Regional Rules</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2 mb-md-0 mb-2">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 29.png">

                    </ul>

                </div>
                <div class="col-md-1 mb-md-0 mb-1">

                    <!-- Links -->

                    <ul class="list-unstyled">

                        <img src="~/image/image 30.png">

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <!-- Copyright -->

    </footer>
</div>


